<div class="row">
    <div class="col-md-12 col-sm-5 col-xs-4">
        <a class="async" href="/">
        <img alt="{{ translate('Alejandro Celaya Alastrue') }}" src="/img/me.jpg" class="img-thumbnail img-responsive me">
        </a>
    </div>
    <div class="profile-info col-md-12 col-sm-7 col-xs-8">
        <h3>{{ translate('Alejandro Celaya') }}</h3>
        <p>{{ translate('PHP and Java developer') }}</p>
        {% include 'partials/social.html.twig' %}

        <div class="certification-badges">
            <a href="http://www.zend.com/en/yellow-pages/ZEND021590" target="_blank">
                <img alt="{{ translate('Zend Certified Engineer PHP 5.3') }}" src="/img/zce.jpg">
            </a>
            <a href="http://www.zend.com/en/yellow-pages/ZEND021590" target="_blank">
                <img alt="{{ translate('Zend Framework 2 Certified Architect') }}" src="/img/zfca.jpg">
            </a>
        </div>
    </div>
</div>
