<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container header-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand async" href="{{ assemble_url('home', true) }}">{{ translate('Alejandro Celaya') }}</a>
            <div class="preloader"></div>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {{ render_menu() }}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ translate('Language') }} <b class="caret"></b></a>
                    {{ render_langs_menu() }}
                </li>
            </ul>
        </div>
    </div>
</nav>
