<!DOCTYPE html>
<html lang="{{ locale() }}" class="js">
    <head>
        <title>{{ translate('Alejandro Celaya Alastrué &mdash; Full-stack Developer') }}</title>
        <meta charset="utf-8">
        <meta name="description" content="{{ translate('Alejandro Celaya, full-stack developer (PHP/JS) in Zaragoza, Spain. I have worked with web applications, web services and e-commerce') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alejandro Celaya Alastrué">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#2a2d36">

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />

        {% include 'partials/stylesheets.html.twig' %}
    </head>
    <body>

        <!-- Loader -->
        <div class="fh5co-loader"></div>

        <div id="fh5co-page">
            <section id="fh5co-header">
                <div class="container">
                    <nav role="navigation">
                        {{ render_menu() }}
                        {{ render_langs_menu() }}
                    </nav>
                </div>
            </section>
            <!-- #fh5co-header -->

            {% block content '' %}

            <footer id="fh5co-footer">
                <div class="container">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-4 col-xs-12 animate-box">
                            <div class="fh5co-footer-widget">
                                <h3>{{ translate('Website') }}</h3>
                                {{ render_menu('fh5co-links') }}
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12 animate-box">
                            <div class="fh5co-footer-widget">
                                <h3>{{ translate('Contact me') }}</h3>
                                <p>
                                    <a href="mailto:alejandro@alejandrocelaya.com">alejandro@alejandrocelaya.com</a> <br>
                                    <a href="{{ assemble_url('contact', true) }}">{{ translate('Contact') }}</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12 animate-box">
                            <div class="fh5co-footer-widget">
                                <h3>{{ translate('Follow me') }}</h3>
                                {{ render_social_menu() }}
                            </div>
                        </div>

                    </div>

                </div>
                <div class="fh5co-copyright animate-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="fh5co-left"><small>&copy; {{ 'now' | date('Y') }} Alejandro Celaya Alastrué.</small></p>
                                <p class="fh5co-right"><small class="fh5co-right">{{ translate('Full-stack developer (PHP/JS)') }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- END #fh5co-footer -->
        </div>
        <!-- END #fh5co-page -->

        {% include 'partials/javascripts.html.twig' %}
    </body>
</html>
