{% extends 'layout.html.twig' %}

{% block content %}
    <div id="skills">
        <fieldset>
            <legend>{{ translate('Web back-end') }}</legend>
            <div class="row">
                <div class="col-xs-4">
                    <input type="text" readonly class="knob php" data-final-val="90" value="90" data-fgColor="#5A69A6">
                    <label>{{ translate('PHP') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob zf" data-final-val="80" value="80" data-fgColor="#69B44A">
                    <label>{{ translate('Zend Framework') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob zf2" data-final-val="90" value="90" data-fgColor="#69B44A">
                    <label>{{ translate('Zend Framework 2') }}</label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ translate('Web front-end') }}</legend>
            <div class="row">
                <div class="col-xs-4">
                    <input type="text" readonly class="knob html5" data-final-val="70" value="70" data-fgColor="#E44D26">
                    <label>{{ translate('HTML5') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob css3" data-final-val="80" value="80" data-fgColor="#0070BB">
                    <label>{{ translate('CSS3') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob jquery" data-final-val="85" value="85" data-fgColor="#D6BA33">
                    <label>{{ translate('Javascript') }}</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob bootstrap" data-final-val="85" value="85" data-fgColor="#573D7D">
                    <label>{{ translate('Bootstrap') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob sass" data-final-val="60" value="60" data-fgColor="#CE4DD6">
                    <label>{{ translate('Sass') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob jquery" data-final-val="80" value="80" data-fgColor="#0868AC">
                    <label>{{ translate('jQuery') }}</label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ translate('Good practices') }}</legend>
            <div class="row">
                <div class="col-xs-4">
                    <input type="text" readonly class="knob ci" data-final-val="70" value="70" data-fgColor="#D33833">
                    <label>{{ translate('Continuous integration') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob task" data-final-val="75" value="75" data-fgColor="#A82C7C">
                    <label>{{ translate('Task automation') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob tdd" data-final-val="75" value="75" data-fgColor="#000000">
                    <label>{{ translate('Test Driven Development') }}</label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ translate('Version control') }}</legend>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob git" data-final-val="90" value="90" data-fgColor="#F05033">
                    <label>{{ translate('Git') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob svn" data-final-val="70" value="70" data-fgColor="#819CCB">
                    <label>{{ translate('Subversion') }}</label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ translate('Others') }}</legend>
            <div class="row">
                <div class="col-xs-4">
                    <input type="text" readonly class="knob scrum" data-final-val="65" value="65" data-fgColor="#526283">
                    <label>{{ translate('Scrum') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob seo" data-final-val="85" value="85" data-fgColor="#5896CF">
                    <label>{{ translate('SEO') }}</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" readonly class="knob java" data-final-val="85" value="85" data-fgColor="#BC5A00">
                    <label>{{ translate('Java SE') }}</label>
                </div>
            </div>
        </fieldset>
    </div>
{% endblock %}
